@media (min-width: 1601px){
    #chart{
        zoom: 1.15;
    }
}
@media (min-width: 1801px){
    #chart{
        zoom: 1.35;
    }
}
@media (max-width: 1440px){
    #content_header{
        zoom: 0.8;
    }
    #chart{
        zoom: 0.9;
    }
}
@media (max-width: 1240px){
    #wrapper > #nav{
        width: 300px;
    }
    #content_header{
        zoom: 0.60;
    }
    #slider > div span{
        font-size: 10px;
    }
    #chart{
        aspect-ratio: initial;
        width: 100%;
        height: 80vh;
    }
}
@media (max-width: 1140px){
    /* #wrapper > #nav{
        zoom: 0.85;
    } */
    #content_header{
        zoom: 0.55;
    }
    /* #chart{
        zoom: 0.64;
        height: 118vh;
    } */
}
@media (max-width: 1000px){
    #content_header{
        zoom: 0.7;
    }
    #chart{
        zoom: 1;
        height: 500px;
    }
    #wrapper{
        width: 100%;
        padding-bottom: 50px;
    }
    #wrapper > #content{
        width: initial;
    }
    #wrapper > #nav{
        display: none;
    }
    #wrapper{
        overflow: scroll;
    }
    #content #company_info_modal{
        display: none;
    }
    #companies_table{
        padding-bottom: 0;
    }
    #content_toggles button{
        white-space: nowrap;
    }
    #slider #slide_zone{
        width: calc(100% + 30px);
        z-index: 9999;
    }
    #slider #slide_element_resize_plus, #slider #slide_element_resize_minus{
        display: none;
    }
    #slider #slide_element{
        z-index: 10000;
    }
    #mobile_year_changer{
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background-color: #000c;
    }
    #mobile_year_changer > #mobile_year_change_info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    #mobile_year_changer p{
        font-size: 36px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }
    #mobile_year_changer span{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
        margin-left: 3px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
    }
    #mobile_year_changer span:nth-child(2) svg{
        margin-right: 4px;
    }
    #mobile_year_changer span:nth-child(3) svg{
        margin-left: 4px;
    }
    #mobile_year_changer span:active{
        opacity: .6;
    }
    #mobile_year_change_btn{
        margin-top: 30px;
        padding: 5px 30px;
        border: 1px solid #FC7303;
        border-radius: 4px;
        background-color: transparent;
        background-color: #FC7303;
        color: #fff;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        appearance: none;
        cursor: pointer;
        transition: .3s;
    }
}
@media (max-width: 830px){
    #content_header{
        zoom: 0.6;
    }
}
@media (max-width: 710px){
    #content_header{
        zoom: 0.5;
    }
    #chart{
        zoom: 0.8;
    }
}
@media (max-width: 600px) {
    body{
        overflow: hidden;
    }
    #preloader{
        display: none !important;
    }
    #mobile_wrapper{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        padding: 10%;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        text-align: center;
    }
    #wrapper{
        display: none;
    }
    #mobile_logo{
        width: 200px;
    }
    #mobile_wrapper h2{
        font-family: 'Inter';
        font-weight: 700;
        font-size: 26px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 50px;
    }
    #mobile_wrapper p{
        width: 330px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #9E9FA6;
        margin-bottom: 30px;
    }
    #mobile_nav_btn{
        width: fit-content;
        padding: 10px 16px;
        background-color: #FC7303;
        border-radius: 4px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        cursor: pointer;
    }
}
@media (max-width: 340px){
    #mobile_wrapper h2{
        font-size: 34px;
        margin-bottom: 16px;
    }
    #mobile_wrapper p{
        width: 300px;
        font-size: 15px;
        line-height: 150%;
    }
}