@media (min-width: 1601px){
    #chart{
        zoom: 1.15;
    }
}
@media (min-width: 1801px){
    #chart{
        zoom: 1.35;
    }
}
@media (max-width: 1440px){
    #content_header{
        zoom: 0.8;
    }
    #chart{
        zoom: 0.9;
    }
}
@media (max-width: 1240px){
    #wrapper > #nav{
        width: 300px;
    }
    #content_header{
        zoom: 0.60;
    }
    #slider > div span{
        font-size: 10px;
    }
    #chart{
        aspect-ratio: initial;
        width: 100%;
        height: 80vh;
    }
}
@media (max-width: 1140px){
    /* #wrapper > #nav{
        zoom: 0.85;
    } */
    #content_header{
        zoom: 0.55;
    }
    /* #chart{
        zoom: 0.64;
        height: 118vh;
    } */
}
@media (max-width: 1023px){
    body{
        overflow: hidden;
    }
    #preloader{
        display: none !important;
    }
    #mobile_wrapper{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        padding: 10%;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        text-align: center;
    }
    #wrapper{
        display: none;
    }
    #mobile_logo{
        width: 200px;
    }
    #mobile_wrapper h2{
        font-family: 'Inter';
        font-weight: 700;
        font-size: 42px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 16px;
    }
    #mobile_wrapper p{
        width: 330px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #9E9FA6;
        margin-bottom: 30px;
    }
    #mobile_nav_btn{
        width: fit-content;
        padding: 10px 16px;
        background-color: #FC7303;
        border-radius: 4px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        cursor: pointer;
    }
}
@media (max-width: 340px){
    #mobile_wrapper h2{
        font-size: 34px;
        margin-bottom: 16px;
    }
    #mobile_wrapper p{
        width: 300px;
        font-size: 15px;
        line-height: 150%;
    }
}